---
import { Icon } from "astro-icon/components";
import { licenseConfig, profileConfig } from "../../config";

import { formatPostDateForDisplay } from "../../utils/date-utils";

import I18n from "@components/I18n.astro";
import { Translation } from "../../i18n/translation";

interface Props {
	title: string;
	slug: string;
	pubDate: Date;
	class: string;
}

const { title, pubDate } = Astro.props;
const className = Astro.props.class;
const profileConf = profileConfig;
const licenseConf = licenseConfig;
const postUrl = decodeURIComponent(Astro.url.toString());
---
<div class=`relative transition overflow-hidden bg-[var(--license-block-bg)] py-5 px-6 ${className}`>
    <div class="transition font-bold text-black/75 dark:text-white/75">
        {title}
    </div>

    <a id="current-link" style="display:none;" class="link text-[var(--primary)]"></a>

    <script>
    const currentLink = document.getElementById('current-link');

	if (currentLink) {
	    const oldUrl = window.location.href;
	    const url = new URL(oldUrl);
	    url.search = ''; // Remove query string
	    if (url.hash.includes('giscus-')) {
	        url.hash = ''; // Remove #giscus-xxx hash
	    }
	    const newUrl = url.toString();
	    if (oldUrl !== newUrl) {
	        console.log(`[license] replaced url: ${oldUrl} -> ${newUrl}`);
	    }
	
	    currentLink.textContent = newUrl;  // Text = Current URL
	    currentLink.href = newUrl;         // Link = Current URL
	    currentLink.style.display = 'inline'; // Show
	}
    </script>

    <div class="flex gap-6 mt-2">
        <div>
            <div class="transition text-black/30 dark:text-white/30 text-sm"><I18n key={Translation.Author} /></div>
            <div class="transition text-black/75 dark:text-white/75 line-clamp-2">{profileConf.name}</div>
        </div>
        <div>
            <div class="transition text-black/30 dark:text-white/30 text-sm"><I18n key={Translation.PublishedAt} /></div>
            <div class="transition text-black/75 dark:text-white/75 line-clamp-2">{formatPostDateForDisplay(pubDate)}</div>
        </div>
        <div>
            <div class="transition text-black/30 dark:text-white/30 text-sm"><I18n key={Translation.PostLicense} /></div>
            <a href={licenseConf.url} target="_blank" class="link text-[var(--primary)] line-clamp-2">{licenseConf.name}</a>
        </div>
    </div>
    <Icon name="creative-commons" class="transition text-[15rem] absolute pointer-events-none right-6 top-1/2 -translate-y-1/2 text-black/5 dark:text-white/5"></Icon>
</div>


